@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  /* min-height: 1000px; */
  overflow-x: hidden;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
}

section .box  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
section .box img {
  max-width: 100%;
}

/* section .box .img {
  width: 1200px;
  height: 750px;
}
section .box .img1 {
  background: #000;
}
section .box .img2 {
  background: yellow;
}
section .box .img2 {
  background: #844baf;
}
section .box .img3 {
  background: #4773ec;
}
section .box .img4 {
  background: #f17c2d;
}
section .box .img5 {
  background: #e02c3b;
} */


section .text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-size: 3em;
  font-weight: 400;
}
section .text span {
  color: #16b716;
  font-weight: 700;
}

